# Virtual environments
dsavisualizer/
venv/
__pycache__/

# Python
*.pyc

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node (future)
node_modules/
backend/.env
__pycache__/
*.pyc
backend/agent/__pycache__/
backend/analysis/__pycache__/
backend/security/__pycache__/
